.contact-search-bottom-sheet-dialog .mat-dialog-container {
  max-width: 100%;
  padding: 0;
  height: auto;

  .contact-search-bottom-sheet-dialog-icon-img {
    img {
      width: 40px;
      height: 40px;
    }
  }
}
