<div class="pt24 pl24 pr24">
  <div class="mat-subheading-1">Search in</div>
</div>

<div class="pl24 pr24 pt8 pb8" fxLayout="row" (click)="onClickGooglePlaces($event)">
  <div class="contact-search-bottom-sheet-dialog-icon-img mr16" fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/google_places.png" atl="Google Places">
  </div>

  <div fxLayout="column" fxLayoutAlign="center start">
    <div class="mat-body-1">Google Places</div>
  </div>
</div>

<div class="pl24 pr24 pt8 pb8" fxLayout="row" (click)="onClickYellowPages($event)">
  <div class="contact-search-bottom-sheet-dialog-icon-img mr16" fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/yellowpages-logo.png" atl="Google Places">
  </div>

  <div fxLayout="column" fxLayoutAlign="center start">
    <div class="mat-body-1">Yellow Pages</div>
  </div>
</div>

<div class="pl24 pr24 pt8 pb8 mb16" fxLayout="row">
  <div class="contact-search-bottom-sheet-dialog-icon-img mr16" fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/import_contacts.png" atl="Google Places">
  </div>

  <div fxLayout="column" fxLayoutAlign="center start">
    <div class="mat-body-1">
      <span>Public Lists</span>
      <span class="mat-caption">(Coming soon)</span>
    </div>
  </div>
</div>
