<div
  fxLayout="column">

  Coming soon
</div>

<mat-card>
                                 
            <mat-card-content>
              <mat-card-subtitle>My WorkPlace</mat-card-subtitle> 
              <mat-list>
                <mat-list-item>
                  <img matListAvatar src="https://dummyimage.com/80x80/dadada/000000\u0026text=Logo" alt="workplace">
                  <h3 matLine> Yellow company </h3>
                  <button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                  </button>

                </mat-list-item>
              </mat-list>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
              <button mat-button>Change</button>
              <button mat-button>Invite</button>
            </mat-card-actions>
        </mat-card>
