/* Paddings and Margins */
$factor: 8px;
$gap-items: 0, 0.5, 1, 2, 3, 4, 5, 6, 7, 8;

@each $i in $gap-items {
  .m#{8 * $i} {
    margin: $factor * $i !important;
  }

  .mt-#{8 * $i} {
    margin-top: -$factor * $i !important;
  }

  .mt#{8 * $i} {
    margin-top: $factor * $i !important;
  }

  .mb-#{8 * $i} {
    margin-bottom: -$factor * $i !important;
  }

  .mb#{8 * $i} {
    margin-bottom: $factor * $i !important;
  }

  .mr-#{8 * $i} {
    margin-right: -$factor * $i !important;
  }

  .mr#{8 * $i} {
    margin-right: $factor * $i !important;
  }

  .ml-#{8 * $i} {
    margin-left: -$factor * $i !important;
  }

  .ml#{8 * $i} {
    margin-left: $factor * $i !important;
  }

  .p#{8 * $i} {
    padding: $factor * $i !important;
  }

  .pt#{8 * $i} {
    padding-top: $factor * $i !important;
  }

  .pb#{8 * $i} {
    padding-bottom: $factor * $i !important;
  }

  .pl#{8 * $i} {
    padding-left: $factor * $i !important;
  }

  .pr#{8 * $i} {
    padding-right: $factor * $i !important;
  }
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}
